<p>
    This is a very simple demo application. The intent of this software is to show how easy one can develop modern
    Javascript applications with
    <a href="http://requirejs.org/">Requirejs</a>,
    <a href="http://lesscss.org/">Lesscss</a>,
    <a href="http://twitter.github.com/bootstrap/index.html">Bootstrap</a>,
    <a href="http://backbonejs.org/">Backbone</a>,
    <a href="http://underscorejs.org/">Underscore</a>,
    <a href="http://handlebarsjs.com/">Handlebars</a>&nbsp;and
    <a href="http://jquery.com/">Jquery</a>. It also shows the powerful back-end code provided by the JEE standards
    and <a href="http://tomee.apache.org/">Apache TomEE</a>.
</p>
<p>
    For more information about this and other demo projects, go to <a href="http://buildnplay.blogspot.ca/">http://buildnplay.blogspot.ca/</a>.
</p>