<div class="app">
    <div class="masthead">
        <nav class="navbar navbar-default" role="navigation">
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li class="ux-app-menu-item ux-photos"><a href="files">{{i18n "my.photos"}}</a></li>
                    <li class="ux-app-menu-item ux-about"><a href="about">{{i18n "application.about"}}</a></li>
                </ul>
                <ul class="ux-login-menu nav navbar-nav navbar-right"></ul>
            </div>
        </nav>
    </div>
    <div class="ux-contentarea"></div>
</div>