<div class="panel-heading">{{name}}</div>
<div class="panel-body ux-detail-content">
    <img src="{{content}}">
</div>
<div class="ux-detail-buttons">
    <button type="button" class="btn btn-default ux-close-action">{{i18n "close"}}</button>
    <button type="button" class="btn btn-danger ux-delete-action">
        <i class="icon-trash icon-white"></i> {{i18n "delete"}}
    </button>
</div>