<div class="photos-area"></div>
<div class="ux-bottom-navbar">
    <nav class="navbar navbar-default" role="navigation">
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <form class="navbar-form navbar-left" role="search">
                <div class="ux-upload-file-field" ><input class="ux-upload-file-input" type="file"></div>
                <a href="#" class="btn btn-default ux-upload-file-button">{{i18n 'upload'}}</a>
            </form>
        </div>
    </nav>
</div>

