<div class="modal-header">
    <button type="button" class="close close-modal">×</button>
    <h3>{{name}}</h3>
</div>
<div class="modal-body">
    <img src="{{src}}">
</div>
<div class="modal-footer">
    <button class="btn close-modal">{{i18n "close"}}</button>
    <button class="btn btn-danger delete-action"><i class="icon-trash icon-white"></i> {{i18n "delete"}}</button>
</div>