<div class="growl alert alert-dismissable alert-{{messageType}}">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <div class="message">{{messageText}}</div>
</div>