<form class="ux-user-credentials">
    <fieldset>
        <input type="text" class="input-block-level ux-username" placeholder='{{i18n "user.account"}}'>
        <input type="password" class="input-block-level ux-password" placeholder='{{i18n "password"}}'>

        <div class="btn-group">
            <button class="btn ux-login">{{i18n "sign.in"}}</button>
            <button class="btn ux-create-user">{{i18n "new.user"}}</button>
        </div>
    </fieldset>
</form>