<li class="dropdown">
    <a href="#" class="ux-sigin dropdown-toggle" data-toggle="dropdown">{{i18n "sign.in"}} <b class="caret"></b></a>

    <div style="padding: 15px; padding-bottom: 0px;" class="dropdown-menu ux-sigin-form">
    </div>
</li>