/*!
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 */

body {
  .growl-container {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 5000;

    .growl {
      display: none;
      width: 300px;
    }
  }
}

.app {
  .photos {
    .drop-area {
      padding: 25px;
      border: 2px dashed #bbb;
      text-align: center;
      font: 20pt bold;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      color: #bbb;
    }

    .photos-area {
      .photo { // Credits to http://www.hongkiat.com/blog/css3-image-captions/
        border: 5px solid #fff;
        cursor: pointer;
        height: 182px;
        float: left;
        margin: 5px;
        position: relative;
        overflow: hidden;
        width: 200px;
        -webkit-box-shadow: 1px 1px 1px 1px #ccc;
        -moz-box-shadow: 1px 1px 1px 1px #ccc;
        box-shadow: 1px 1px 1px 1px #ccc;

        img {
          position: absolute;
          left: 0;
          -webkit-transition: all 300ms ease-out;
          -moz-transition: all 300ms ease-out;
          -o-transition: all 300ms ease-out;
          -ms-transition: all 300ms ease-out;
          transition: all 300ms ease-out;
        }

        .caption {
          background-color: rgba(0, 0, 0, 0.8);
          position: absolute;
          color: #fff;
          z-index: 100;
          -webkit-transition: all 300ms ease-out;
          -moz-transition: all 300ms ease-out;
          -o-transition: all 300ms ease-out;
          -ms-transition: all 300ms ease-out;
          transition: all 300ms ease-out;
          left: 0;
        }

        .simple-caption {
          height: 30px;
          width: 200px;
          display: block;
          bottom: -30px;
          line-height: 25pt;
          text-align: center;
        }

        &:hover {
          .simple-caption {
            -moz-transform: translateY(-100%);
            -o-transform: translateY(-100%);
            -webkit-transform: translateY(-100%);
            opacity: 1;
            transform: translateY(-100%);
          }
        }
      }
    }
  }

}